doctype html
html
  head
    title= 'title'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css',
      integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==',
      crossorigin='')
    link(rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css")
    link(rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css")
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js',
      integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==',
      crossorigin='')
    script.
      var coord = `#{coord}`
    //- script(src='https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.js') 
    //- link(rel='stylesheet', href='https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css')
    script(src='https://leaflet.github.io/Leaflet.markercluster/dist/leaflet.markercluster-src.js')
      
        
  body
    block content
    script(src = '/javascripts/leflet.js')